<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
<!--    Appenders 로그를 어디에 출력할지 결정하는 역할-->
    <appender name ="console" class="ch.qos.logback.core.ConsoleAppender">
<!--        debug용-->
        <encoder>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
<!--        info레벨-->
        <encoder>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>

<!--    로거
         Level속성을 통해서 출력할 로그의 레벨을 조절하여 appender에 전달합니다
         debug레벨의 로그르르 출력하는 형식은 1번 console이라는 이름의appender를 사용합니다-->
    <logger name="board" lever="DEBUG" appender-ref="console"/>

<!--    루트 로거-->
    <root level="off">
        <appender-ref ref="console"/>
    </root>
</configuration>